{{!-- <nav class="blog__menu" role="navigation">
    <ul class="blog__menu-list">
        {{# each collections.posts }}
        <li class="blog__menu-item {{#is this.path @root.path }}active{{/is}}">
            <a href="/{{ this.path }}" class="blog__menu-link">{{ this.title }}</a> | <em>{{ date this.date }}</em>
        </li>
        {{/ each }}
    </ul>
</nav> --}}

<div class="blog-nav__wrapper">
    <a class="blog-nav__button {{#if previous}}previous{{else}}no-previous{{/if}}" href="/{{previous.path}}"><i class="fas fa-angle-double-left"></i> {{#if previous}}{{ dotdate previous.date}}{{else}}0000.00.00{{/if}}</a>
    <a class="blog-nav__button index" href="/blog-index/">index</a>
    <a class="blog-nav__button {{#if next}}next{{else}}no-next{{/if}}" href="/{{next.path}}">{{#if next}}{{ dotdate next.date}}{{else}}0000.00.00{{/if}} <i class="fas fa-angle-double-right"></i></a>    
</div>