{{!-- 

<nav class="menu" role="navigation">
    <ul class="menu__list">
        {{#each collections.pages}}
        <li class="menu__item" {{#is this.path @root.path }}aria-current="page"{{/is}}>
            {{#if this.path }}
            <a href="/{{ this.path }}/" class="menu__link">{{ this.title }}</a>
            {{ else }}
            <a href="/" class="menu__link">{{ this.title }}</a>
            {{/if}}
        </li>
        {{/each}}
    </ul>
</nav> 

--}}

<nav class="nav__top">
    <div class="nav__background">
        <span class="nav__arrow"></span>
    </div>

    <ul class="nav__items">
        <li>
            <a href="#">about</a>
            <div class="nav__dropdown nav__dropdown1">
                <div class="nav__bio">
                    <img src="https://avatars.githubusercontent.com/neenjaw">
                    <p>Tim enjoys playing with the web, programming, and application development. Background in Computer
                        Science, currently working as a Registered Nurse in Saskatoon, SK.</p>
                </div>
            </div>
        </li>
        <li>
            <a href="#">blog</a>
            <ul class="nav__dropdown nav__blog">
                {{# each collections.lastPosts }}
                    <li class="{{#is this.path @root.path }}active{{/is}}">
                        <span class="entry ">{{ dotdate this.date }}</span>
                        <a href="/{{ this.path }}">{{ this.title }}</a>
                    </li>
                {{/ each}}
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-link"></i>
            </a>
            <ul class="nav__dropdown nav__links">
                <li>
                    <a class="nav__button" href="https://twitter.com/C8H11NO3">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                </li>
                <li>
                    <a class="nav__button" href="https://www.facebook.com/t.j.austin">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a class="nav__button" href="https://github.com/neenjaw">
                        <i class="fab fa-github-square"></i>
                    </a>
                </li>
                <li>
                    <a class="nav__button" href="https://plus.google.com/+TimAustin">
                        <i class="fab fa-google-plus-square"></i>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>